{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container-fluid">
    <br>
    <div class="d-flex"><h1 class="ms-5">Contact</h1><h1 class="col-10">Localisation</h1></div>
    <br>
    <br>
    <div class="row">
        <div class="col-4">
            {% for message in app.flashes('success') %}
                <h5 class="alert alert-success">{{ message }}</h5>
            {% endfor %}
            {{ form_start(form, {'attr': {'class': 'col-12'}}) }} 
                <div class="form-error">{{ form_errors(form) }}</div>
                {{ form_row(form.email) }}
                <br>
                {{ form_row(form.message) }}
                <br>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
        
        <div class="col-1">
            <div style="border-left: 1px solid white;height: 500px;"></div>
        </div>
        
        <div class="col-4">
            <iframe width='100%' height='100%' src="{{ app.request.server.get('MAPBOX_API')}}" title="Basic" style="border:none;"></iframe>
        </div>
    </div>
</div>

{% endblock %}